body {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.carousel-cell {
    width: 100%;
    /* full width */
    height: 50vh;
    background: #222;
    /* center images in cells with flexbox */
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 725px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #fff;
        font-family: sans-serif;
        font-size: 40px;
    }
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
}